$bg: #0b1015;
$blue: #316bb1;
$green: #3ba776;
$red: #A73B52;

body{
  background: $bg;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $blue;
}

#three{
  font-size: 150px;
  font-weight: bold;
  color: $green;
}

#home:hover,#three:hover{
  cursor: pointer;
}

#table-wrapper{
  width: 100%;
  position: relative;
  display: inline-block;
}

#table{
  overflow-y: scroll;
  scrollbar-color: #519174 $blue;
  width: 420px;
  height: 420px;
  display: inline-block;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $blue; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #519174; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $green; 
}

.guessing-spot,#set-digits{
  width: 30px;
  height: 30px;
  font-size: 1.5em;
  font-weight: bolder;

  border: 2px solid $blue;
  margin: 1px;
  padding: 2px;

  background: $bg;
  color: $blue;
  text-align: center;
}

#set-digits{
  width: 50px;
}
#set-digits-error{
  color: $red;
}
#mobile-numpad{
  background:$bg;
  margin: 2px;
  border: 2px solid $blue;
  
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;

  max-width: 100%;
  max-height: 400px;
  z-index: 1;

}

#mobile-numpad>input{
  display: inline-block;
  background: $green;
  color: $bg;
  border: 0px;

  padding: 10px;
  margin: 5px;

  width: 80px;
  height: 80px;

  font-size: 30px;
}

#mobile-numpad>input[value="0"]{
  width: 270px;
}

// modal stuff
.modal {
  position: fixed;   
  display: block;
  z-index: 2; 
  
  text-align: left;

  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 

  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 

  transition: 0.5s ease-in-out;
}

.modal-content {
  position: relative;
  background-color: $bg;

  margin: auto;
  padding: 0;
  border: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-open{
  transform: translateY(0px);
}

.modal-closed{
  transform: translateY(-1500px);
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: $bg;
  color: $blue;
}

.modal-body{
  padding: 2px 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#settings{
  margin: 0;
  flex: 1 100%;
  order: 1;
}

#scoreboard{
  margin: auto;
  flex: 1 100%;
  order: 2;
  padding-bottom: 20px;
}

#scoreboard>table{
  table-layout: fixed;
  border-collapse: collapse;
}

#scoreboard-data{
  width: 100%;
  max-height: 100px;
  overflow-y: auto;
  
  scrollbar-color: #519174 $blue;
}
#scoreboard-data>thead>tr{
}

@media all and (min-width: 900px){
  .modal-body>div{
    max-width: 50%;
  }
}

table{
  border-spacing: 0;
  border: 1px solid $blue
}

th,td{
  border: 1px solid $blue;
  padding: 10px;
  margin: 0;
  text-align: center;
}

#score,#mistakes{
  font-size: 20px;
  font-weight: bold;
  position: absolute;
}
#score{
  left: 0;
  color: $green;
}
#mistakes{
  right: 5px;
  color: $red;
}


#msg{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: $green;
}
